.h1contacto{
    text-align: center;
    font-size: 3rem;
}
.h2contacto{
    font-size: 1.5rem;
    text-align: center;
}
.formulario{
    padding-left: 20px;
}
.contenedor{
    display: flex;
align-items: $align-items;
}
form{
    @extend .formulario;
    width:90vh;
}
.imgform{
    padding-left: 50px;
}
