.main{
    justify-content: center;
    .h2{
        font-size: 2.5rem;
        text-align: center;
        color: map-get($mapa-colores, color-negro);
    }
    .p-princ{
        font-size: 1.5rem;
        text-align: center;
        color: map-get($mapa-colores, color-negro );
    }
    .imgprinc{
        max-width: 100%;
        height: auto;
    }
}
.colorfont{
    color:map-get($mapa-colores, color-negro );
    width: 90%;
    text-align: center
}
   .colorfont2{
    @extend .colorfont;
    width:fit-content;
  
   }
   .links{
    color: black!important;
   }


