.main{
    justify-content: center;
    .h2{
        font-size: 2.5rem;
    }
    .p-princ{
        font-size: 1.5rem;
    }
    .imgprinc{
        max-width: 100%;
        height: auto;
    }
}
h2{
   font-size: 1.5rem;
   .colorfont{
    color:map-get($mapa-colores, color-negro );
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
   .colorfont2{
    @extend .colorfont;
    width:fit-content;
  
   }
}

.galeriainicio{
    max-width: 45%;
    .galeriainicio p{
        font-size: 1rem;
    color: map-get($mapa-colores, color-negro );
    padding-left: 70px;
    }
    .pinicio{
        color: map-get($mapa-colores, color-negro );
        list-style: none;
        .img-ns{
            width: 80vh;
        height:50vh;
        
        }
        .img-c{
           @extend .img-ns;
        
        }
        .img-sn{
         @extend .img-ns;
        }
           
        
        .img-con{
            @extend .img-ns;
        }
        
    }


}