.overflow{
    overflow: hidden;
}
.sabores{
    line-height: 25px;
    padding-top: 20px;
   font-size: 1.5rem;
    justify-content: $justify-content;
     padding-left: 50px;
    background-color: map-get($mapa-colores, colorfondo);
    
}
