@font-face {
    font-family:Merriweather-BlackItalic;
    src: url(../assets/fonts/Merriweather-BlackItalic.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colorfondo{
    background-color: rgb(233, 190, 220);
}
.logo{
    text-align: center;
    padding-left: 20px;

}
.logo-text{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    color: rgba(0, 0, 0, 0.76); 
}
.colornav{
 color: rgba(0, 0, 0, 0.753)!important;
 font-weight: bold;
}

.marginnav{
    margin-right: 50px;
}

.colorfont{
    color: rgba(0, 0, 0, 0.705);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
   .colorfont2{
    color: rgba(0, 0, 0, 0.705);
    width:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
   }
    



.main{
    justify-content: center;
}
.h2{
    font-size: 2.5rem;
}
.p-princ{
    font-size: 1.5rem;
}
.imgprinc{
    max-width: 100%;
    height: auto;
}
h2{
   
    font-size: 1.5rem;
}
.galeriainicio p{
    font-size: 1rem;
color: rgba(0, 0, 0, 0.801);
padding-left: 70px;
}
.galeriainicio{
    max-width: 45%;
}
.img-ns{
    width: 80vh;
height:50vh;

}
.img-c{
    width: 80vh;
height:50vh;

}
.img-sn{
    width:80vh;
height:50vh; 
}
   

.img-con{
    width:80vh;
    height:50vh;
}
.pinicio{
    color: black;
    list-style: none;
    
}
.sabores{
    padding-top: 20px;
    border-style: double;
   font-size: 1.5rem;
    justify-content: center;
    
    padding-left: 50px;
    background-color: rgb(233, 190, 220);
}
.combosh2{
    justify-content: center;
    text-align: center;
}
.h3yp{
    justify-content: center;
    text-align: center;
}
.nuestrahistoria{
    padding-left: 50px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.822);
    justify-content: center;
}
.video{
    padding-left: 50px;
}
.h1contacto{
    padding-left: 35%;
}
.h2contacto{
    padding-left: 25%;
}
.formulario{
    padding-left: 20px;
}
.contenedor{
    display: flex;
align-items: center;
}
form{
    width:90vh;
    padding-left: 20px;
}
.imgform{
    padding-left: 70px;
}
.footer{
    height: 30vh;
   
}
.linksfooter{
    border-top: 2px solid black;
    padding-top: 20px;
}
.fa-facebook{
    color: black;
    font-size: 2rem;
    padding-left: 30px;
}
.fa-whatsapp{
    color: black;
    font-size: 2rem;
    padding-left: 30px;
}
.fa-instagram{
    color: black;
    font-size: 2rem;
    padding-left: 30px;
}
.fa-twitter{
    color: black;
    font-size: 2rem;
    padding-left: 30px;
}

@media screen and (max-width: 768px){
    .divsobrenosotros{
        align-items: center;
        justify-content: center;
    }
     .video{
        align-items: center;
        justify-content: center;
    }
    .linksfooter{
        padding-top: 50px;
    }
     .versionmobile{
        display: none!important;
    }
    
}
 